@model IEnumerable<SonOfCod.Models.Market>
@using System.Security.Claims

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-down container">

    @if (User.Identity.IsAuthenticated)
    {
        <p>You're logged in</p>
        @foreach (var listMarket in Model)
        {

            <h4>@Html.DisplayFor(modelMarket => listMarket.Title)</h4>
            <img src="@Html.DisplayFor(modelSubscriber => listMarket.Image)" alt="image">
            <h4>@Html.DisplayFor(modelSubscriber => listMarket.Content)</h4>
            <h5>@Html.ActionLink("Edit", "Edit", new { id = listMarket.MarketId })</h5>
            @Html.ActionLink("Delete", "Delete", new { id = listMarket.MarketId })
        }
    }
    else
    {
        <p>You're NOT logged in</p>
        @foreach (var listMarket in Model)
        {

            <h4>@Html.DisplayFor(modelMarket => listMarket.Title)</h4>
            <img src="@Html.DisplayFor(modelSubscriber => listMarket.Image)" alt="image">
            <h4>@Html.DisplayFor(modelMarket => listMarket.Content)</h4>
            <br />
        }
    }

</div>