@using System.Security.Claims

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <link href="https://fonts.googleapis.com/css?family=Niconne|Playball" rel="stylesheet">
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="navbar navtop">
        
    </div>
    <div class="navbar navbottom">
       
        <div class="col-sm-6" id="sonofcod">
            <div class="son-img">
                @Html.ActionLink("Son of Cod Seafood", "Index", "Home")
                <img id="small-fish" src="http://www.mardon.com/img/products/atlantic-cod.png" />
            </div>
        </div>
        <div class="col-sm-1 nav-words">
            @Html.ActionLink("Marketing", "Marketing", "Home")</div>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="pull-right nav-words">
                @using (Html.BeginForm("LogOff", "Account"))
                {
                    <input type="submit" class="btn btn-default" value="Log out" />
                }
            </div>
            <div class="pull-right nav-words">
                <h3>@User.Identity.Name</h3>
            </div>
        }
        else
        {
            <div class="pull-right nav-words">
                <p>@Html.ActionLink("Register as an Admin", "Register", "Account")</p>
            </div>
            <div class="pull-right nav-words">
                <p>@Html.ActionLink("Log in", "Login" ,"Account")</p>
            </div>
            <div class="pull-right">
                <h3>Guest</h3>
            </div>
            
        }
        
    </div>
    
    <div>
        @RenderBody()
    </div>
</body>
</html>